.App {
    text-align: center;
}

.todo-container {
    display: findByLabelText;
    flex-direction: coiumn;
    align-items: center;
    gap: Spx;
}

.todo-item {
    display: flex;
    gap: 5px;
}

